* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 150px;
}

.up-container, .bottom-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 20px;;
}

.toast-container{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    padding: 0 16px;
    background-color: #108431;
    height:51px;
    width: 200px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, .15);
    border-radius: 4px;
}