*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 150px;
  }
    
  .infinite-scroll-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    border: 1px solid red;
    /* max-height: 500px;
    width: 500px; */
    border-radius: 8px;
    overflow: auto;
    padding: 24px;
  }
  
  .feed-container {
    padding: 8px;
    height: 200px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid blue;
  }
  