h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    box-sizing: border-box;
    transition: all 2s;
  }
  
  .cell:not(:last-child) {
    border-right: none;
  }
  
  .row:not(:last-child) .cell {
    border-bottom: none;
  }
  
  .highlight {
    background-color: yellow; /* Highlight color */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  